openapi: 3.1.0
info:
  title: YU Inventory Dockflow Integration API
  version: 1.0.0
  description: Read-only employee TMC clearance check for Dockflow.
servers:
  - url: https://inventory.yu.edu.kz
paths:
  /api/integrations/dockflow/employee:
    get:
      operationId: getEmployeeTmcClearance
      summary: Check whether an employee may continue the dismissal process
      security:
        - DockflowApiKey: []
      parameters:
        - name: iin
          in: query
          required: true
          schema: { type: string, pattern: '^[0-9]{12}$' }
        - name: fullName
          in: query
          required: true
          schema: { type: string, minLength: 2, maxLength: 120 }
        - name: email
          in: query
          required: true
          schema: { type: string, format: email, maxLength: 254 }
      responses:
        '200':
          description: Current clearance snapshot
          headers:
            Cache-Control:
              schema: { type: string, const: "no-store, max-age=0" }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClearanceResponse' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/InvalidApiKey' }
        '404': { $ref: '#/components/responses/EmployeeNotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
components:
  securitySchemes:
    DockflowApiKey:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    ClearanceStatus:
      type: string
      enum: [CLEAR, ASSETS_ASSIGNED, HANDOVER_IN_PROGRESS, RETURN_IN_PROGRESS, LOSS_PAYMENT_PENDING, ACCOUNTING_REVIEW_PENDING, BLOCKED]
    Employee:
      type: object
      additionalProperties: false
      required: [id, iin, fullName, email]
      properties:
        id: { type: string, format: uuid }
        iin: { type: string, pattern: '^[0-9]{12}$' }
        fullName: { type: string }
        email: { type: string, format: email }
    Location:
      type: object
      additionalProperties: false
      required: [building, room]
      properties:
        building: { type: string }
        room: { type: string }
    Item:
      type: object
      additionalProperties: false
      required: [id, name, inventoryNumber, quantity, condition, unitPrice, assignedAt, status, location]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        inventoryNumber: { type: string }
        quantity: { type: integer, minimum: 1 }
        condition: { type: string }
        unitPrice: { type: string, pattern: '^[0-9]+\.[0-9]{2}$' }
        assignedAt: { type: string, format: date-time }
        status:
          type: string
          enum: [ASSIGNED, TRANSFER_PENDING, RETURN_PENDING, LOST, PAYMENT_PENDING, RECEIPT_SUBMITTED, ACCOUNTING_VERIFIED]
        location: { $ref: '#/components/schemas/Location' }
    Summary:
      type: object
      additionalProperties: false
      required: [activeItems, pendingTransfers, pendingReturns, lostItems, pendingAccountingReviews, totalAmount, currency]
      properties:
        activeItems: { type: integer, minimum: 0 }
        pendingTransfers: { type: integer, minimum: 0 }
        pendingReturns: { type: integer, minimum: 0 }
        lostItems: { type: integer, minimum: 0 }
        pendingAccountingReviews: { type: integer, minimum: 0 }
        totalAmount: { type: string, pattern: '^[0-9]+\.[0-9]{2}$' }
        currency: { type: string, const: KZT }
    ClearanceResponse:
      type: object
      additionalProperties: false
      required: [requestId, checkedAt, employee, canProceed, clearanceStatus, message, summary, items]
      properties:
        requestId: { type: string, format: uuid }
        checkedAt: { type: string, format: date-time }
        employee: { $ref: '#/components/schemas/Employee' }
        canProceed: { type: boolean }
        clearanceStatus: { $ref: '#/components/schemas/ClearanceStatus' }
        message: { type: string }
        summary: { $ref: '#/components/schemas/Summary' }
        items:
          type: array
          items: { $ref: '#/components/schemas/Item' }
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [requestId, error]
      properties:
        requestId: { type: string, format: uuid }
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
  responses:
    InvalidRequest:
      description: Invalid request
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } } }
    InvalidApiKey:
      description: Invalid API key
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } } }
    EmployeeNotFound:
      description: Employee not matched
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } } }
    InternalError:
      description: Internal error
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } } }
    ServiceUnavailable:
      description: Service unavailable
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } } }
